.content {
    width: 500px;
    min-height: 120px;
    margin: 0 auto;

    border: 1px solid cornflowerblue;
    border-radius: 10px;
}

.content__inner {
    top: 50%;

    transform: translateY(50%);
}

.content__text {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;

    border: 1px solid cornflowerblue;
    border-radius: 10px;
}


.content__input input {
    margin: 0 20px;
}
