.wrapper {

}
.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29a366;
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 1000;
}
.menu_active{
    transform: translateX(0%);
}

.menu button{
    border: none;
    outline: none;
}

.menu_list{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
}
.menu_list a{
    text-decoration: none;
    font-size: 20px;
    color: #fbfdff;
    width: 100%;
    padding: 20px 0;
}
.menu_list a:hover{
    transition: .5s;
    background-color: rgba(179, 170, 170, 0.25);
}

.menu_btn{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #a3292d;
    border-radius: 50%;
    position: absolute;
    right: -45px;
    top: 10px;
    transition: .5s;
}

.menu button span,
.menu button span:after,
.menu button span:before{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fbfdff;
}

.menu_active button span{
    height: 0;
}

.menu button span:after,
.menu button span:before{
    content: '';
    display: block;
    transition: .5s;
}

.menu button span:before{
    transform: translateY(5px);
}
.menu button span:after{
    transform: translateY(-5px);
}

.menu_active button span:after{
    transform: rotate(45deg);
}
.menu_active button span:before{
    transform: rotate(-45deg);
}